<nav>
  <%= link_to "Home", root_path %>  
  <%= link_to "sign In", sign_in_path %>
  <%= link_to "Create Account", new_user_path %>    
  <%= link_to "Sign Out", sign_out_path, method: 'delete'  %>  
</nav>